<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Item Catalog</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
      <script type="text/javascript" src="https://apis.google.com/js/client:platform.js?onload=start"></script>
</head>
<body>

        <div>

          <a href="/">
            <h1>Udacity Item Catalog</h1>
          </a>
          <div>
            {%if 'username' not in session %}
            <a href="{{url_for('login')}}">Login</a>
            {% endif %}
          <div>
        </div>
          <div>
                <h6>Categories</h6>
                <ul>
                    {% for category in categories %}
                        <a href="{{url_for('baseDisplay', catalog_id = category.id )}}">
                            <li>
                                <span>{{category.name}}</span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div>
            <div >
                <h6>Latest Items</h6>
                <ul>
                    {% for categoryItem in categoryItems %}
                        <a href="{{url_for('displayCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}">
                            <li>
                                <span>{{categoryItem.name}}</span>
                                <span>({{categoryItem.category.name}})</span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
                {% if 'username' in session %}
                    <a href="{{url_for('newCategoryItem')}}" class="button u list__add">Create Item</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>