<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Item Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="https://apis.google.com/js/client:platform.js?onload=start"></script>
</head>
<body>

  <div>

    <div>
        <a href="/" class="navbar-brand">Login</a>
    </div>
    <div>
      <ul>
        {% if user==None %}
        <div id="signinButton">
          <span class="g-signin"
            data-scope="openid"
            data-clientid="970941246035-fa79ehlv70nmf1g72vro1grlcn532pqj.apps.googleusercontent.com"
            data-redirecturi="catalog"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
          {% else %}
            <li><a href="">Logged in as: {{ user }}</a></li>
            <li><a href="{{ url_for('gdisconnect') }}">Sign out</a></li>
          {% endif %}
        </ul>
    </div>
  </div>


  <script>
    function signInCallback(authResult) {
      if(authResult['code']) {
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/catalog?state={{STATE}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/catalog";
             }, 4000);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
        }
      }); } }
  </script>

</body>
</html>
